[Unit]
Description=Stock App Logger Listener
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env php /home/ubuntu/git/IT490-Logging/ErrorListener.php
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
