[Unit]
Description=Stock App Database Listener
After=network.target
After=mysqld.service
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
#ExecStart=/usr/bin/env php /home/ubuntu/git/IT490-Logging 
WorkingDirectory=/home/ubuntu/git/IT490-Logging
ExecStart=/bin/bash /home/ubuntu/git/IT490-Logging/startStockAppLogger.sh
RemainAfterExit=true
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=stockLogger
[Install]
WantedBy=multi-user.target
